<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hastane Randevu Sistemi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item active">
                <a class="nav-link" href="#">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Appointment" asp-action="Randevular">Randevular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Patient" asp-action="Index">Hastalar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="Doctor" asp-action="Doktorlar">Doktorlar</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item mx-lg-2">
                <a class="nav-link text-light btn-home custom-button" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-regular fa-user"></i> Profil </a>
            </li>
            <li>
                <a class="Btn-Login" aria-current="page" asp-area=""
                   asp-controller="Account"
                   asp-action="Logout">
                    <div class="text">Logout</div>
                </a>
            </li>
        </ul>
    </div>
</nav>