@model LoginViewModel

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header text-center">
                    Giriş Yap
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <div>
                            <div class="text-danger" asp-validation-summary="All"></div>
                        </div>
                        <form>
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">Email Adresi</label>
                                <input asp-for ="Email" type="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Şifre</label>
                                <input asp-for="Password" type="password" class="form-control">
                            </div>
                            <div class="mb-2 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                            </div> 
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-primary justify-content-end col-3"><i class="fa-solid fa-right-to-bracket"></i>  Giriş</button>
                            </div>
                            <div class="mb-3">
                                <a class="link-opacity-75-hover fs-6" asp-action="Register">Kayıtlı değil misin?</a>
                            </div>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>