@model RegisterViewModel
<div class="container">
    <div class="row mt-5">
        <div class="col">
        </div>
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header text-center">
                    kayıt ol
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">adı</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">soyadı</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="exampleınputemail1" class="form-label">email adresi</label>
                                <input type="email" class="form-control" id="exampleınputemail1" aria-describedby="emailhelp">
                                <div id="emailhelp" class="form-text">we'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleınputpassword1" class="form-label">şifre</label>
                                <input type="password" class="form-control" id="exampleınputpassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleınputpassword1" class="form-label">şifre tekrar</label>
                                <input type="password" class="form-control" id="exampleınputpassword1">
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-primary justify-content-end col-3">kaydol</button>
                            </div>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>